* {
  margin: 0px;
  font-family: arial;
  box-sizing: border-box;
  color: white;
}

body {
  background-image: url("./assets/background.webp");
  background-repeat: no-repeat;
  background-color: #ed5160;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ed5161f5;
  /* color: white; */
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: "Cherry Bomb One", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
}

main {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: 110px;
  justify-content: space-around;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
}

.middle {
  padding-top: 150px;
}

.right {
  flex-direction: column;
}

.display {
  padding: 10px;
  text-align: center;
}

img {
  height: 500px;
  width: auto;
}

img:hover {
  cursor: pointer;
}

.shop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  width: 450px;
}

.shop button {
  background-color: #ed5161;
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Delius", sans-serif;
}

.shop button:hover {
  cursor: pointer;
  background-color: #91b7f5;
}

.count {
  font-size: 40px;
  font-weight: bold;
  font-family: "Cherry Bomb One";
  text-transform: uppercase;
  letter-spacing: 5px;
}

.reset {
  margin: 30px;
  background-color: #d38651;
  border: none;
  border-radius: 15px;
  padding: 20px 40px 20px 40px;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Cherry Bomb One", sans-serif;
}

.reset:hover {
  cursor: pointer;
  background-color: #803619;
}

footer {
  background-color: #ed5161f5;
  font-family: "Delius", sans-serif;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
