* {
  margin: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/background.webp");
  background-repeat: no-repeat;
  background-color: #ed5160;
  background-position: center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ed5161f5;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: 110px;
  justify-content: space-around;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
}

.middle {
  padding-top: 150px;
}

.right {
  padding-top: 80px;
  flex-direction: column;
}

.display {
  padding: 10px;
  text-align: center;
}

img {
  height: 500px;
  width: auto;
}

img:hover {
  cursor: pointer;
}

.shop {
  background-color: purple;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  width: 400px;
}

.shop button {
  background-color: #ed5161;
  color: white;
  border: solid;
  border-radius: 15px;
  padding: 10px;
}

.shop button:hover {
  cursor: pointer;
}

.count {
  font-size: 36px;
  font-weight: bold;
}

.reset {
  margin: 10px;
}

footer {
  background-color: #ed5161f5;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
